.Grid {
    display: flex;
}

.Grid-cell {
    flex: 1;
    background-color: #f0f0f0;
    height: 100px;
    margin: 10px;
}

.Grid-cell.u-full {
    flex: 0 0 100%;
}

.Grid-cell.u-1of2 {
    flex: 0 0 50%;
}

.Grid-cell.u-1of3 {
    flex: 0 0 33.3333%;
}

.Grid-cell.u-1of4 {
    flex: 0 0 25%;
}
